header{
      display: flex;
      justify-content: center;
      margin: 10px;
      background: #c1dab3;
}

body{
      background-image: linear-gradient(#c1dab3, #758969);
}

main{
      display: flex;
      flex-direction: row;
      justify-content: center;
}

#map {
       height: 900px;
       width: 900px; 
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

ul{
    list-style-type:none;
    padding:0px;
    margin:20px;
}

details {
  width: 200px;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 0.5em 0.5em 0;
  background: #dae4d4;
  padding: 5px;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}